# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies

# Android related
android/.gradle/
android/captures/
android/.idea/
android/local.properties
*.iml
android/app/src/main/assets/flutter_assets/

# iOS/Xcode related
ios/Flutter/
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/.dart_tool/
ios/DerivedData/
ios/.idea/
*.xcworkspace
*.xcuserstate
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata

# macOS related
macos/Flutter/
macos/Flutter/.last_build_id
macos/Pods/
macos/.symlinks/
macos/.dart_tool/
macos/DerivedData/
*.xcworkspace
*.xcodeproj/xcuserdata

# Web related
web/.dart_tool/
web/flutter/

# Linux related
linux/flutter/
linux/flutter/ephemeral/
linux/.dart_tool/

# Windows related
windows/flutter/
windows/flutter/ephemeral/
windows/.dart_tool/

# IDEs
.idea/
.vscode/
*.swp

# Others
*.log
*.tmp
*.lock
*.DS_Store
*.env
*.bak
*.orig
*.rej
/macos/Flutter
